@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Lato:wght@300;400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Lato", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Montserrat", sans-serif;

  --color-jb-blue: #123498;
  --color-jb-orange: #F46F0B;
  --color-jb-navy: #096ACC;
  --color-jb-yellow: #FDB907;
  --color-jb-red: #CE0B19;
  --color-jb-teal: #41C4C0;
  --color-jb-gray: #A3A3A3;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-display;
  }
}

@keyframes shine {
  100% {
    transform: translateX(100%);
  }
}

html {
  scroll-behavior: smooth;
}
